 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;
}
body{
    background: rgb(253,165,38);
background: linear-gradient(342deg, rgba(253,165,38,1) 15%, rgba(0,0,0,1) 35%);
    /* background: rgb(0,0,0);
background: linear-gradient(342deg, rgba(0,0,0,1) 44%, rgba(253,165,38,1) 44%); */
}
.navbar2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

/* MOBILE FIRST */

@media screen and (max-width: 768px){
    .h1-titulo{
        font-size: 2.5rem;
        font-family: 'Permanent Marker', cursive;
        color: white;
    }
    .subtitulo{
        font-size: 1.3rem;
        text-align: center;
        background: rgb(236,159,5);
        background: linear-gradient(0deg, rgba(236,159,5,1) 0%, rgba(255,78,0,1) 100%);
        color: rgba(0,0,0,1);
        border-radius: 15px;
        padding: 15px;
    }

    .titulo{
        margin-top: 25%;
        padding: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        
    }
    .imagenes{
        display: flex;
        flex-direction: row;
    }
    .equipos{
        width: 100%;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        border-radius: 15px;
    }
    .equipos2{
        width: 100%;
    }
    .servicio{
        display:flex;
        flex-direction: column;
        margin: 5%;
        padding: 15px;
    }
    .apple-logo{
        width: 25%;
        
    }
    .descripcion-servicio{
        display: flex;
        flex-direction: row;
        text-align: center;
        background: rgb(236,159,5);
        background: linear-gradient(0deg, rgba(236,159,5,1) 0%, rgba(255,78,0,1) 100%);
        color: rgba(0,0,0,1);
        border-radius: 15px;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }
    .h2-descripcion{
        font-size: 1.3rem;
    }
    .descripcion-p{
        margin: 25px;
        text-align: center;
        padding: 15px;
        color: white;
    }
    .img-camara{
        width: 100%;
        margin-bottom: 20%;
    }
    .mensajeria{
        display: flex;
        flex-direction: column;
    }
    .h3-mensajeria{
        background: rgb(236,159,5);
        background: linear-gradient(0deg, rgba(236,159,5,1) 0%, rgba(255,78,0,1) 100%);
        color: black;
        border-radius: 15px;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        padding: 15px;
        text-align: center;
        font-size: 1.3rem;
    }
    .container-delivery{
        display: flex;
        flex-direction: row-reverse;
        gap: 15px;
        margin: 10%;
        background: white;
        border-radius: 15px;
        padding: 10px;
        margin: 10px;
    }
    .camion{
        width: 45%;
    }
    .p-delivery{
        font-size: 1rem;
        text-align: center;
        margin-top: 25px;
    }
    .container-reparacion{
        display: flex;
        flex-direction: column;
        gap: 25px;
        background: rgb(236,159,5);
        background: linear-gradient(0deg, rgba(236,159,5,1) 0%, rgba(255,78,0,1) 100%);
        border-radius: 15px;
        border: 5px solid;
        padding: 25px;
        box-shadow: gray 0px 20px 30px -10px;
    }
    .h2-reparacion{
        font-size: 2rem;
        text-align: center;
    }
    .container-img-p{
        display: flex;
        flex-direction: row-reverse;
        gap: 5px;
        margin: 15px;
    }
    .p-reparacion{
        font-size: 1rem;
        text-align: center;
    }
    .cel-reparacion{
        width: 60%;
        
    }
    .cel-reparacion2{
        width: 100%;
        border-radius: 15px;
    }
    .container-nosotros{
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 10%;
        align-items: center;

    }
    .nosotros-p-img{
        display: flex;
        flex-direction: column;
    }
    .h2-nosotros{
        font-size: 2rem;
        text-align: center;
        color:white;
    }
    .p-nosotros{
        font-size: 1rem;
        text-align: center;
        color:white;
    }
    .oficina{
        width: 100%;
        border-radius: 15px;
    }
    .container-footer{
        display: flex;
        flex-direction: column;
    }
    h4{
        font-size: 2rem;
        color: black;
        text-align: center;
        margin: 10%;
    }
    .p-footer{
        color: black;
        font-size: 1rem;
        text-align: center;
    }
    .container-iconos{
        display: flex;
        flex-direction: row;
        gap: 25px;
        align-items: center;
        justify-content: center;
        margin: 50px;
    }
    .img-footer{
        width: 100%;
    }
}